<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.id; let i = $index) {
        <tr>
          <td>{{i+1}}</td>
          <td>
            <img [src]="country.icono" alt="Icono de {{country.nombre}}" class="w-6 h-6">
          </td>
          <td>
            <img [src]="country.bandera" alt="Bandera de {{country.nombre}}" class="w-6 h-6">
          </td>
          <td>{{country.nombre}}</td>
          <td>{{country.capital}}</td>
          <td class="badge badge-secondary">{{country.poblacion | number}}</td>
          <td>
            <a [routerLink]="['/country/by', country.id]" class="link-primary cursor-pointer">Ver Detalles</a>
          </td>
        </tr>
      }
      @if (errorMessage()) {
        <tr>
          <td colspan="7" class="text-center text-red-500">
            {{errorMessage()}}
          </td>
        </tr>
      }

      @if(countries().length === 0 && !errorMessage() && !isLoading()) {
        <tr>
          <td colspan="7" class="text-center">
            No se encontraron paises.
          </td>
        </tr>
      }

      @if (isLoading()) {
        <tr>
          <td colspan="7" class="text-center">
            Cargando...
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
