<nav class="p-4 w-full">
  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
    <li>
      <a class="btn" routerLink="by-capital" routerLinkActive="btn-active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><path d="M8.25 3.75a4.5 4.5 0 0 0-4.5 4.5v7.5a4.5 4.5 0 0 0 4.5 4.5h7.5a4.5 4.5 0 0 0 4.5-4.5v-7.5a4.5 4.5 0 0 0-4.5-4.5z"/><path stroke-linecap="round" d="m8.655 8.655l6.69 6.69m0-6.69l-6.69 6.69"/></g></svg>
        Por Capital
      </a>
    </li>
    <li>
      <a class="btn" routerLink="by-country" routerLinkActive="btn-active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.75 5a1.5 1.5 0 0 0-1.5-1.5H9.288a1 1 0 0 0-1 1v1H4.75a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h10zm0 3.5h4.5a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-4.5zm0 4h2.5m-2.5 4h2.5"/><circle cx="6.75" cy="9.5" r="1" fill="currentColor"/><circle cx="6.75" cy="13" r="1" fill="currentColor"/><circle cx="6.75" cy="16.5" r="1" fill="currentColor"/><circle cx="10.75" cy="9.5" r="1" fill="currentColor"/><circle cx="10.75" cy="13" r="1" fill="currentColor"/><circle cx="10.75" cy="16.5" r="1" fill="currentColor"/></g></svg>
        Por pais
      </a>
    </li>
    <li>
      <a class="btn" routerLink="by-region" routerLinkActive="btn-active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><rect width="18.5" height="11" x="2.75" y="6.5" rx="4"/><path d="M7 12h10"/></g></svg>
        Por region
      </a>
    </li>
  </ul>
</nav>
